<div style="height: 100vh; background-image: url('/assets/penta.jpg'); background-size: cover;">

  <div
    style="padding-top: 25%;justify-content: center;align-items: center;flex-direction: column;display: flex; color: white;">
    <div class="logo" style=" padding: 50px; width:400px; height:400px;
    background: rgb(4,4,4);
background: radial-gradient(circle, rgba(4,4,4,1) 11%, rgba(13,14,1,0) 86%);
">
      <img src="assets/base.png" style=" width: 200px;" />
      <div class="title" style="margin-top: 50px;">
        <h1>Titolo</h1>
      </div>
      <div class="sottotitolo">Sottotitolo</div>
    </div>
  </div>

  <div style="display: flex;width: 100%;justify-content: center;margin-top: 25%;">
    <button mat-flat-button color="primary" style="width:200px;border-radius: 20px;"
      (click)="prenota()">Prenota</button>
  </div>


</div>
