.dettagli-collaboratori-navbar{
  background-color: darkslategrey;
  justify-content: space-between;
  .left{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
  }
}
.mat-tab-header-pagination {
  display: none !important;
}
mat-tab-header.mat-tab-header{
align-self: center;
}

.freccia .fa {
  transition: .3s transform ease-in-out;
}
.freccia .collapsed .fa {
  transform: rotate(180deg);
}


.descrizione {
  color: #7b7992;
  font-weight: bolder;
  font-size: 9pt;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
}

.colore
{color:slategrey; }
.colore button {background-color: slategray;}

.testoadestra
{text-align: right; font-size: 10pt;}

.padding0
{ padding-left: 0;padding-right: 0;}

#dettagli i
{ font-size: 16pt; color: red;}
