<table style="width: 100%;">
  <tr>
    <td><strong style="display:block; position:sticky">Incassi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></td>
    <td style="text-align: right;"><button mat-fab mat-dialog-close color="warn">Chiudi</button></td>
  </tr>
</table>

<div mat-dialog-content style="width: 100%;">
  <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;width: 100%; height: 100%;">
    <table id="dettagli" style="width: 100%; font-size:small;font-weight: bolder;" class="table table-hover">
      <thead class="text-warning">
        <th>Modalità</th>
        <th style="text-align: right;">Importo</th>
        <th style="width: 50px;"></th>
      </thead>
      <tbody>
        <tr *ngFor="let c of incassi">
          <td>
            <strong>{{c.tipo}}</strong>
          </td>
          <td style="text-align: right;">
            <strong>&nbsp;{{c.importo | numberFormat}}</strong>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

