
table > thead > tr > th {
text-align: left;
padding-left: 2px;
border-bottom: 2px solid #a9daee;
}

table > tbody > tr > td {
text-align: left;
padding-left: 2px;
border-top: 1px solid lightgray;
}

.success-snack-bar {
color: black;
background-color: green;
}
.err-snack-bar {
color: black;
background-color: crimson;
}
