<mat-card>
  <mat-card-title style="display: flex;align-items: center;justify-content: space-between;">
    <h1 mat-dialog-title style="margin:0;">Aggiungi nuova spesa</h1>
    <button mat-mini-fab mat-dialog-close tabindex="-1" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>

  <mat-card-content mat-dialog-content>

    <form [formGroup]="searchForm" class="search__form">
      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>Cerca spesa predefinita</mat-label>
        <input matInput (keyup)="getModelliSpesa($event)" formControlName="desc">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearTxt('desc')">
          <mat-icon *ngIf="searchForm.get('desc').value!==''">close</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div *ngIf="modelli.length>0" style="margin-bottom: 20px;">
      <table style="width: 100%;">
        <tr *ngFor="let m of modelli" (click)="selezionaSpesa(m)" style="height:50px;border-top: 1px solid #d7d7d7;">
          <td>{{m.categoria}}</td>
          <td>{{m.descrizione}}</td>
        </tr>
      </table>
    </div>

    <form #speseForm="ngForm">

      <mat-form-field style="width: 100%;">
        <mat-label>Data</mat-label>
        <input matInput placeholder="Data" name="Data" [(ngModel)]="spesaObj.dataStr" #Data="ngModel">
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="spesaObj.categoria" (selectionChange)="getSottoCategorie($event)" name="Categoria"
          #Categoria="ngModel">
          <mat-option *ngFor="let _Categoria of  categorie" [value]="_Categoria">
            {{_Categoria}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Sotto-Categoria</mat-label>
        <mat-select [(ngModel)]="spesaObj.sottoCategoria" (selectionChange)="getDescrizioni($event)"
          name="SottoCategoria" #SottoCategoria="ngModel">
          <mat-option *ngFor="let c of  sottoCategorie" [value]="c">
            {{c}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Tipopagamento</mat-label>
        <mat-select [(ngModel)]="spesaObj.tipoPagamento" name="TipoPagamento" #TipoPagamento="ngModel" value="Cassa FB">
          <mat-option *ngFor="let _TipoPagamento of  tipoPagamentoList" [value]="_TipoPagamento.value">
            {{_TipoPagamento.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <mat-label>Descrizione spesa</mat-label>
        <input type="text" aria-label="Descrizione" matInput name="Descrizione" [(ngModel)]="spesaObj.descrizione"
          #Descrizione="ngModel" [matAutocomplete]="auto" required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let d of descrizioni" [value]="d">
            {{d}}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="Descrizione.hasError('required')">
          Campo obbligatorio.
        </mat-error>
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <input matInput placeholder="Importo" type="number" name="Importo" [(ngModel)]="spesaObj.importo"
          #Importo="ngModel" required>
        <mat-error *ngIf="Importo.hasError('required')">
          Campo obbligatorio.
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>

  <div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="primary" [disabled]="!speseForm.valid || !speseForm.dirty" (click)="salvaSpese()">
      Salva spesa
    </button>
  </div>

</mat-card>
