// variabili
$background-color:var(--background-color);
$color:var(--color);


/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #030303;
  color: #030303;
  box-shadow: 9999px 0 0 -5px #030303;
  animation: dotPulse 1.0s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #030303;
  color: #030303;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #030303;
  animation: dotPulseBefore 1.0s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #030303;
  animation: dotPulseAfter 1.0s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 9984px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #030303;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 9999px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #030303;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 10014px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #030303;
  }
}

.mysaloon-container {
  max-width: 450px;
  margin: 0 auto;
  height: 100vh;
}

.mysaloon-navbar {
  top: 0;
  z-index: 999;
  background-color: $background-color;
  width: 100%;
  position: sticky;
  justify-content: center;
  color: $color;
  height: 40px;
}

.mysaloon-navbar-gruppo {
  text-transform: capitalize;
}

.mysaloon-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.mysaloon-saloni {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  height: 70px;
}

.mysaloon-salone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 5px;
}

.mysaloon-titolo-salone {
  font-family: Roboto, Helvetica Neue, sans-serif !important;
  margin: 0;
  line-height: 20px;
  color: $background-color;
  display: flex;
  align-items: center;
}

.mysaloon-titolo-salone a {
  text-decoration: none;
  font-size: 1.25rem;
  color: $background-color;
  font-weight: 700;
}

.mysaloon-indirizzo-salone {
  line-height: 10px;
  max-width: 80px;
  height: 14px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  left: 15px;
}

.mysaloon-indirizzo-salone span {
  line-height: normal;
  position: absolute;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 10s linear infinite;
  -webkit-animation: example1 10s linear infinite;
  animation: example1 10s linear infinite;

}

/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes example1 {
  0% {
    -moz-transform: translateX(0%);
    /* Firefox bug fix */
    -webkit-transform: translateX(0%);
    /* Firefox bug fix */
    transform: translateX(0%);
  }

  100% {
    -moz-transform: translateX(-100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}


.example1 {
  height: 50px;
  overflow: hidden;
  position: relative;
}

.example1 h3 {
  font-size: 3em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
}

.mysaloon-azioni-salone {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $background-color;
}

.mysaloon-azioni-salone a {
  text-decoration: none;
  color: $background-color;
}

.mysaloon-azioni-salone a mat-icon {
  transform: scale(1.5);
}

.mysaloon-azioni-salone button {
  background: $background-color;
  color: $color;
  line-height: 20px;
}

.mysaloon-seleziona-salone {
  color: $background-color;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.mysaloon-dettagli.salone {
  display: flex;
  flex-direction: column;
}

.mysaloon-seleziona-saloni {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 5px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}


.mysaloon-seleziona-saloni-titolo {
  color: #000000;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  height: 100%;
  display: flex;
  align-items: center;
}

.mysaloon-seleziona-logo-salone img {
  filter: grayscale(100%);
}

.mysaloon-user-bar {
  width: 100%;
  background: $background-color;
  color: $color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 34px;
}

.mysaloon-user-bar h5 {
  margin: 0px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.mysaloon-nouser-bar {
  height: 4px;
  background-color: $background-color;
}

.mysaloon-bottoni-azione {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mysaloon-bottoni-azione .mat-button-toggle-group,
.mysaloon-bottoni-azione .mat-button-toggle,
.mysaloon-bottoni-azione button,
.mysaloon-bottoni-azione .mat-button-toggle-label-content {
  line-height: 26px;
  height: 26px;
}

.mysaloon-card {
  border: none;
  box-shadow: none !important;
  margin-top: 0;
  padding-top: 0 !important;
}

.mysaloon-card .mat-tab-group.mat-primary .mat-ink-bar,
.mysaloon-card .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $background-color;
}

.mysaloon-card-prenotazioni {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f6f6f6;
  height: 100%;
  overflow: auto;
}

.mysaloon-card-prenotazione-content {
  margin-top: 6px;
  margin-bottom: 6px;
  overflow: hidden;
}

.mysaloon-card-prenotazione-content mat-chip:last-child {
  display: none;
}

.mysaloon-card-prenotazione-content .mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: -4px;
  overflow: auto;
  padding-bottom: 6px;
}

.mysaloon-card-prenotazione-content .mat-chip span {
  width: max-content;
}

.mysaloon-card-prenotazioni-ticket {
  height:146px;
  display: flex;
  padding: 0;
  width: 325px;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 15px;
  border:3px solid #fff;
  position: relative;
  .left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 6px;
    background-color: #d2d2d2;
  }
  .right{
    padding: 10px;
    width: 65%;
    background-color: antiquewhite;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    .servizi{
      list-style: '-';
      margin: 0;
      padding: 0;
      font-size: 13px;
      height: 76px;
      overflow-y: auto;
      margin-left:8px;
      li:last-child {
        display:none;
      }
      li::first-letter{
        text-transform: capitalize;
      }
      li::before {
        content: "-";
      }
    }
  }
}

/* .mysaloon-card-prenotazioni-ticket:before, */
.mysaloon-card-prenotazioni-ticket:after{
  content: "";
  position: absolute;
  top: 36%;
  height: 36px;
  width: 18px;
  right: -3px;
  border-radius: 1em 0 0 1em;
  background-color:#f6f6f6;
  border: 3px solid #fff;
  border-right: none;
}
.mysaloon-card-prenotazioni-ticket:before {
    left: -3px;
    border-radius: 0 1em 1em 0;
    //border-left:4px solid #50bcbb;
    background-color:#f6f6f6!important;
}

.add{
  border: 3px solid $background-color;
  background-color: #3f3d3d!important;
  height: 146.4px;
  margin-bottom: 10px;
  display: grid;
  cursor:pointer;
}

.add:before, .add:after {
  border: 3px solid $background-color;
  background-color:#f6f6f6!important;
}
.add:before{
  content: "";
  position: absolute;
  top: 36%;
  height: 36px;
  width: 18px;
  right: -3px;
  border-radius: 1em 0 0 1em;
  background-color:#f6f6f6;
    border-left: none;
    left: -3px;
    border-radius: 0 1em 1em 0;
    //border-left:4px solid #50bcbb;
    background-color:#f6f6f6!important;
  }

.add:after{
  border-right: none;
}




.mysaloon-card-prenotaora {
  color: $color;
  font-weight: 500;
  background: #303030aa;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
  margin-top: 6px;
}

.mysaloon-card-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mysaloon-card-button button {
  border:3px solid $background-color;
  background-color: $color !important;
  color: $background-color !important;
  box-shadow: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mysaloon-card-prenotazione-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mysaloon-card-prenotazione-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mysaloon-card-prenotazione-actions .salone-appuntamento {
  display: flex;
  align-items: center;
  color: $background-color;
}

.mysaloon-card-prenotazione-actions button {
  background: red;
  color: white;
}

.mysaloon-card .contenuto {
  font-size: medium;
  color: black;
  padding-right: 10px;
}

.mysaloon-card .orario {
  margin-left: 10px;
  margin-top: 20px;
  font-size: medium;

  & th {
    font-weight: bold;
    padding-right: 20px;
    height: 30px;
  }

  & td {
    color: black;
    padding-right: 10px;
  }

  & .chiuso {
    color: red;
  }
}
