<div id="container">

  <div id="navbar">
    <mat-toolbar style="background-color: darkslategrey; width: 100%;position: sticky; top: 0px; z-index: 999;">
      <mat-toolbar-row style="justify-content: space-between;">
        <img src="./assets/imgx32.png" alt="logo" width="40" height="40">
        <h3 class="display-6">
          <span class="brand" style="color: white;margin-left:20px;padding:0;">{{gruppo}}</span></h3>

        <button mat-mini-fab color="Basic" style="width: 35px; height: 35px;" (click)="back()">
          <mat-icon>reply</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <button mat-raised-button color="Basic" style="margin:  15px 20px 20px 20px; " (click)="showSel()"
    *ngIf="selection.selected.length>1">
    <mat-icon>person_remove</mat-icon> Confronta saloni selezionati
  </button>

  <div id="table" style="margin-top: 10px;">
    <div id="table-container">
      <table mat-table matSort matSortActive="id" matSortDirection="desc" matSortDisableClear multiTemplateDataRows
        [dataSource]="dataSource">

        <ng-container matColumnDef="select">
          <th style="padding-top: 5px; padding-left: 10px; padding-right: 5px;" mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td style="padding-top: 5px; padding-left: 10px; padding-right: 5px;" mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="salone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Saloni</th>
          <td mat-cell *matCellDef="let element" style="padding-left:5px"
            [class.example-expanded-row]="expandedElement === element">
            <button mat-raised-button color="basic" (click)="showSalone(element.salone)"  style="min-width: 100%; text-align: left !important;">
              {{element.salone.salone}}
            </button>
</td>
        </ng-container>

        <ng-container matColumnDef="incasso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Incassi</th>
          <td mat-cell *matCellDef="let element" style="padding-left:5px;text-align: right;"
            [class.example-expanded-row]="expandedElement === element">
            <button mat-raised-button color="basic" (click)="showIncasso(element.salone)" style="min-width: 100%; text-align: right !important;">
              {{element['incasso'] | currency:'EUR'}}
            </button>
             </td>
        </ng-container>

        <ng-container matColumnDef="passaggi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 5px;">Pass.</th>
          <td mat-cell *matCellDef="let element" [class.example-expanded-row]="expandedElement === element" style="padding-left: 5px;">
            <button mat-raised-button color="basic" (click)="showPassaggi(element.salone)" style="padding-left: 0; padding-right: 0; min-width: 90%;">
              {{element['passaggi']}}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="inSala">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Attesa</th>
          <td mat-cell *matCellDef="let element" [class.example-expanded-row]="expandedElement === element">
            <button mat-mini-fab color="basic" (click)="showInSala(element.salone)">
              {{element['inSala']}}
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="logEventi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Eventi</th>
          <td mat-cell *matCellDef="let element"
            [class.example-expanded-row]="expandedElement === element">
            <button mat-mini-fab color="warn" color="warn" (click)="showLogEventi(element.salone)">
              {{element['logEventi']}}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

              <mat-card class="example-card" style="background-color:beige; margin: 10px;">
                <mat-card-header>
                  <mat-card-title>{{element.ragioneSociale}}</mat-card-title>
                  <mat-card-subtitle>{{element.indirizzo}}<br /> {{element.paese + ' (' + element.provincia + ')'}}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                  <mat-list>
                    <mat-list-item>
                      <mat-icon mat-list-icon>local_phone</mat-icon>
                      <div mat-line><strong>Telefono: </strong> <a [href]="'tel:' + element.cell">{{element.tel}}</a>
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>smartphone</mat-icon>
                      <div mat-line><strong>Cellulare: </strong> <a [href]="'tel:' + element.cell">{{element.cell}}</a>
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>email</mat-icon>
                      <div mat-line><strong>E-Mail: </strong>{{element.email}}</div>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item style="margin-top: 10px;">
                      <mat-icon mat-list-icon>event_available</mat-icon>
                      <div mat-line><strong>Data scadenza: </strong>{{element.dataAttivazione | date: 'dd-MM-yyyy'}}
                      </div>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
                <mat-divider></mat-divider>
              </mat-card>


            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>

    <notifier-container></notifier-container>
  </div>
</div>
