<div class="intervallo-data">
    <mat-form-field appearance="outline">
      <mat-label>Data inizio</mat-label>
      <input matInput placeholder="Data inizio" [matDatepicker]="datepickerRef" name="datepicker1" ngModel
        #dateCtrl1="ngModel" [(ngModel)]="dData1" required />
      <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef></mat-datepicker>
      <mat-error *ngIf="dateCtrl1.errors?.required && dateCtrl1.touched">Data non valida</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Data fine</mat-label>
      <input matInput placeholder="Data fine" [matDatepicker]="datepickerRef2" name="datepicker2" ngModel
        #dateCtrl2="ngModel" [(ngModel)]="dData2" required />
      <mat-datepicker-toggle [for]="datepickerRef2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepickerRef2></mat-datepicker>
      <mat-error *ngIf="dateCtrl2.errors?.required && dateCtrl2.touched">Data non valida</mat-error>
    </mat-form-field>
    <button (click)="sendMessage()" mat-mini-fab>Ok</button>
</div>
