<mat-toolbar class="clienti-navbar">
  <div>
    <h3>Clienti</h3>
  </div>
  <div style="display: flex;height: 50px;align-items: center;grid-gap: 10px;">
    <input matInput type="text" placeholder="Cerca" name="search" [(ngModel)]="search" aria-label="Search" style="background: #fff;width: 150px;outline: none;border-radius: 5px;
    border-color: #d7d7d7;"
      (keyup)="searchClienti($event.target.value)" id="search">
    <button mat-mini-fab (click)="goBack()">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- <app-datepicker></app-datepicker> -->

<mat-card *ngIf="clienti?.length > 0">
  <mat-card-content>
    <table style="width:100%;">
      <thead>
        <tr style="height:50px;">
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col">Cellulare</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of clienti" style="height:50px;border-top:1px solid #d7d7d7;">
          <th style="text-transform: capitalize;font-weight: 400;">{{s.nome}}</th>
          <th style="text-transform: capitalize;font-weight: 400;">{{s.cognome}}</th>
          <td>{{s.cell}}</td>
          <td>
            <button mat-mini-fab (click)="nuovoIngresso(s.id)">
              <mat-icon>add</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<div class="bottomBar">
  <button mat-icon-button style="background-color: darkcyan;color: #fff;border: 2px solid darkcyan;display: flex;justify-content: center;opacity: 0.6;
  align-items: center;transform: scale(1.5);" [routerLink]="['/cliente']">
  <mat-icon inline="true" style="transform:scale(1.5);font-weight:800;">add</mat-icon>
  </button>
</div>
