<div style="opacity: 0.8;position: sticky; top: 0px; z-index: 999;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="pull-left">
      <h3 class="display-6 font-italic"><img src="./assets/img1.png">&nbsp; <span
          class="navbar-brand text-white">mySaloon</span></h3>
    </div>
  </nav>
</div>

<div class="card" style="position: absolute; top: 50%;left: 50%; width: 80%; height: 350px;transform: translate(-50%, -50%); ">
  <h5 class="card-header">Conferma eliminazione</h5>
  <div class="card-body">
    <div class="form-group" style="text-align: center; margin-top: 40px;">
      <div class="form-group" style="text-align: center; margin-top: 40px;">
        <h5>{{testo}}</h5>
        <button mat-raised-button color="basic" (click)="home()"
          style="margin-top:60px;left:0; right:0; margin-left: auto;margin-right: auto;">
          Vai alla Home Page
        </button>
      </div>
    </div>
  </div>
