<mat-toolbar style="background-color: darkslategrey;">
  <mat-toolbar-row style="display: flex;justify-content: space-between;">
    <div style="display: flex;align-items:center;color:#fff;grid-gap:10px;">
      <img src="./assets/img1.png" width="40" height="40" alt="logo">
      <h3>{{salone.salone}}</h3>
    </div>
    <button mat-icon-button (click)="back()"
      style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="height:40px;background-color:tan;font-size:initial;display:flex;justify-content:center;">
    Incasso {{intervallo.name}}
  </mat-toolbar-row>
</mat-toolbar>


<app-spinner1center *ngIf="attesa" style="z-index: 999; position: absolute; left: 0; right: 0; top:0; bottom: 0;">
</app-spinner1center>

<div style="margin:20px;">
  <table style="width: 100%;">
    <thead>
      <tr style="height:50px;">
        <th>Cassa</th>
        <th style="text-align: right;">Incasso</th>
      </tr>
    </thead>
    <tbody>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Contanti</td>
        <td class="testoadestra">{{temps.contanti| currency:'EUR'}}</td>
      </tr>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Bancomat</td>
        <td class="testoadestra">{{temps.bancomat| currency:'EUR'}}</td>
      </tr>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Carta</td>
        <td class="testoadestra">{{temps.carta| currency:'EUR'}}</td>
      </tr>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Prepagate</td>
        <td class="testoadestra">{{temps.prepagate| currency:'EUR'}}</td>
      </tr>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>On-Line</td>
        <td class="testoadestra">{{temps.onLine| currency:'EUR'}}</td>
      </tr>

      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Assegni</td>
        <td class="testoadestra">{{temps.assegni| currency:'EUR'}}</td>
      </tr>
      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Altro</td>
        <td class="testoadestra">{{temps.altro| currency:'EUR'}}</td>
      </tr>

      <tr style="height:50px;border-top:1px solid #d7d7d7;">
        <td>Insoluti</td>
        <td class="testoadestra">{{temps.insoluti| currency:'EUR'}}</td>
      </tr>

      <tr style="height:50px;border-top:1px solid #d7d7d7;color:#990000;font-weight: 800;">
        <td>Totale</td>
        <td class="testoadestra">
          {{temps.contanti + temps.bancomat + temps.carta + temps.prepagate + temps.onLine + temps.assegni + temps.altro + temps.insoluti | currency:'EUR'}}
        </td>
      </tr>

    </tbody>
  </table>
</div>

<notifier-container></notifier-container>
