<div style="display:flex;justify-content: space-between;align-items: center;margin-bottom: 10px;">
  <div>
    <div style="font-weight: 500;">
      <h5 style="margin:0;">{{t.Collaboratore}}</h5>
    </div>
    <div>{{t.Servizio}}</div>
  </div>
  <button mat-fab mat-dialog-close color="warn">Chiudi</button>
</div>

<mat-divider></mat-divider>

<div class="tableFixHead">
  <table style="width:100%;margin-top:10px;">
    <thead>
      <tr style="height:50px;">
        <th>Cliente</th>
        <th style="text-align: left;">Cell</th>
        <th style="text-align: right;">Prezzo</th>
      </tr>
    </thead>
    <tbody style="    max-height: 300px;
  overflow-y: auto;">
      <tr *ngFor="let x of t.c" style="height:50px;">
        <td style="text-transform: capitalize;">{{x.nome + ' ' + x.cognome}}</td>
        <td style="text-align: left;">{{x.cell}}</td>
        <td style="text-align: right;">{{x.importoUltimaFiche | currency:'EUR'}}</td>
      </tr>
    </tbody>
  </table>
</div>



<!-- <table style="width: 100%;">
  <tr>
    <td>
      <strong style="display:block; position:sticky">{{t.Collaboratore}}</strong>
      <mat-card-subtitle>{{t.Servizio}}</mat-card-subtitle>
    </td>
    <td style="text-align: right;"><button mat-fab mat-dialog-close color="warn">Chiudi</button></td>
  </tr>
</table> -->

<!-- <div style="height: 20px;"></div>
<div mat-dialog-content style="width: 100%;">
  <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;width: 100%; height: 100%;">
    <table id="dettagli" style="width: 100%; font-size:small;font-weight: bolder;" class="table table-hover">
      <thead class="text-warning">
        <th>Cliente</th>
        <th>Cell</th>
        <th>Prezzo</th>
      </thead>
      <tbody>
        <tr *ngFor="let x of t.c">
          <td>
            <mat-icon aria-hidden="false">account</mat-icon><strong>&nbsp;{{x.nome + ' ' + x.cognome}}</strong>
          </td>
          <td>
            <strong>{{x.cell}}</strong>
          </td>
          <td>
            <strong>{{x.importoUltimaFiche | numberFormat}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
