<table style="width: 100%;">
  <tr>
    <td>
      <strong style="display:block; position:sticky">{{t.Collaboratore}}</strong>
      <mat-card-subtitle>{{t.Servizio}}</mat-card-subtitle>
    </td>
    <td style="text-align: right;"><button mat-fab mat-dialog-close color="warn">Chiudi</button></td>
  </tr>
</table>
<div style="height: 20px;"></div>
<div mat-dialog-content style="width: 100%;">
  <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;width: 100%; height: 100%;">
    <table id="dettagli" style="width: 100%; font-size:small;font-weight: bolder;" class="table table-hover">
      <thead class="text-warning">
        <th>Cliente</th>
        <th>Cell</th>
        <th>Prezzo</th>
      </thead>
      <tbody>
        <tr *ngFor="let x of t.c">
          <td>
            <mat-icon aria-hidden="false">account</mat-icon><strong>&nbsp;{{x.nome + ' ' + x.cognome}}</strong>
          </td>
          <td>
            <strong>{{x.cell}}</strong>
          </td>
          <td>
            <strong>{{x.importoUltimaFiche | numberFormat}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
