.tableFixHead {
  overflow: auto;
  max-height: 300px;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  border-bottom: 2px solid #a9daee;
}

.tableFixHead tbody th {
  position: sticky;
  left: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
