<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

<mat-toolbar style="background-color: darkslategrey;">
  <mat-toolbar-row>
    <h3 class="display-6">
      <img src="./assets/img1.png" width="40" height="40" alt="logo">
      <span class="navbar-brand text-white" style="margin-left:20px; padding:0;">{{salone.salone}}</span></h3>

    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button (click)="back()"
      style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-image: url('./assets/penta.jpg');">
  <mat-sidenav #sidenav style="background-image: url('./assets/sidebar-1.jpg'); background-color: transparent;">
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">

      <app-spinner1center *ngIf="attesa" style="z-index: 999; position: absolute; left: 0; right: 0; top:0; bottom: 0;">
      </app-spinner1center>


      <div class="card" style="width: 100%;">
        <div class="card-header card-header-warning" style=" width: 100%;">
          <div class="pull-right" style="width: 100%;padding:0;">
            <button class="btn "
              style="background-color:tan; width: 100%; padding-left: 0; padding-right: 0;font-size:small;font-weight: bolder;">Spese {{intervallo.name}}</button>
          </div>

        </div>
        <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
          <table id="dettagli" style="width: 100%;" class="table table-hover">
            <thead class="text-warning">
              <th><strong>Totale uscite:</strong></th>
              <th></th>
              <th style="text-align: right;"></th>
              <th style="text-align: right;">{{totaleSpese | numberFormat}}</th>
              <th style="text-align: right;" (click)="nuovaSpesa()">
                <div style="opacity: 0.7;">
                  <i class="fa fa-plus-circle" aria-hidden="true"
                      style="font-size: 40px; color: aquamarine; text-shadow: 1px 1px 1px #000000; "></i>
                </div>
              </th>
            </thead>
          </table>
        </div>
        <div *ngIf="speseSql.length>0" class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
          <table id="dettagli" style="width: 100%;" class="table table-hover">
            <thead class="text-warning">
              <th colspan="2"><strong>Spese in attesa di sincronizzazione:</strong></th>
            </thead>
            <tbody>
              <tr *ngFor="let s of speseSql">
                <td>{{s.descrizione}}</td>
                <td>{{s.importo}}</td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="chart-wrapper">
          <canvas id="chart1" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>

        <div *ngFor="let c of temps" class="accordion" [attr.id]="'accordion'+replaceAll(c.descrizione,' ' ,'')"
          style="width: 100%">
          <div class="card shadow p-0 mb-2 bg-white rounded" style="padding-left: 0;width: 100%">
            <div class="card-header pull-left " id="heading1" [attr.aria-controls]="replaceAll(c.descrizione,' ' ,'')"
              data-toggle="collapse" style="width: 100%; background-color:tan;"
              [attr.data-target]="'#' + replaceAll(c.descrizione,' ' ,'')">

              <button class="btn btn-link collapsed text-white" type="button" style="padding: 0">
                <h6 class="mb-0"><i class="fas fa-money-bill-wave">
                  </i>&nbsp;&nbsp;&nbsp;{{c.descrizione}}</h6>
              </button>
              <div class="pull-right">
                <h6 class="mb-0">{{c.importo | numberFormat}}</h6>
              </div>
            </div>

            <div id="{{replaceAll(c.descrizione,' ' ,'')}}" class="collapse multi-collapse" aria-labelledby="headingOne"
              [attr.data-parent]="'#accordion' + replaceAll(c.descrizione,' ' ,'')">
              <div class="card-body" style="padding: 0">
                <div class="card-body pull-left list list-group-item list-group-item-action active bg-light"
                  style="margin:1px" style="padding: 0">
                  <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
                    <table id="dettagli" style="width: 100%;" class="table table-hover">
                      <thead class="text-warning">
                        <th>Data</th>
                        <th>Cassa</th>
                        <th>Descrizione</th>
                        <th class="testoadestra">Importo</th>
                      </thead>
                      <tbody class="descrizione">
                        <tr *ngFor="let s of c.dettagli">
                          <td class="padding0">{{s.data}}</td>
                          <td>{{s.tipoPagamento}}</td>
                          <td>{{s.descrizione}}</td>
                          <td class="testoadestra"><strong>{{s.importo | numberFormat}}</strong></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<notifier-container></notifier-container>
