<mat-toolbar style="background-color: darkslategrey;">
  <mat-toolbar-row style="display: flex;align-items: center;justify-content: space-between;">
    <div style="display:flex;align-items: center;grid-gap:10px;color:#fff;">
      <img src="./assets/img1.png" width="40" height="40" alt="logo">
      <h3>{{salone.salone}}</h3>
    </div>

    <button mat-icon-button (click)="back()"
      style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="height:40px;background-color:tan;font-size:initial;display: flex;justify-content: center;">
    Spese {{intervallo.name}}
  </mat-toolbar-row>
</mat-toolbar>


<app-spinner1center *ngIf="attesa" style="z-index: 999; position: absolute; left: 0; right: 0; top:0; bottom: 0;">
</app-spinner1center>


<div style="margin:20px;">
  <table style="width: 100%;">
    <thead>
      <tr style="height:50px;border-bottom: 1px solid #d7d7d7;">
        <th>Totale uscite:</th>
        <th style="text-align: right;">{{totaleSpese | numberFormat}}</th>
        <th style="text-align: right;">
          <button (click)="nuovaSpesa()" mat-mini-fab>
            <mat-icon>add</mat-icon>
          </button>
        </th>
      </tr>
    </thead>
  </table>
</div>

<div *ngIf="speseSql.length>0">
  <table style="width: 100%;">
    <thead>
      <tr style="height:50px;">
        <th colspan="2">Spese in attesa di sincronizzazione:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of speseSql" style="height:50px;border-top:1px solid #d7d7d7;">
        <td>{{s.descrizione}}</td>
        <td>{{s.importo}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="chart-wrapper">
  <canvas id="chart1" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
  </canvas>
</div>

<mat-accordion style="display: flex;flex-direction: column;grid-gap: 10px;margin-top:10px;">
  <mat-expansion-panel hideToggle *ngFor="let c of temps">
    <mat-expansion-panel-header style="padding:0;height: 60px;">
      <mat-panel-title style="margin:0;">
        <div style="width:100%;height:60px;background:tan;display:flex;justify-content:space-between;align-items:center;padding:10px;">
          <h6 style="margin:0;">{{c.descrizione}}</h6>
          <h6 style="margin:0;">{{c.importo | numberFormat}}</h6>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table style="width: 100%;">
      <thead>
        <tr style="height:50px;">
          <th>Data</th>
          <th>Cassa</th>
          <th>Descrizione</th>
          <th class="testoadestra">Importo</th>
        </tr>
      </thead>
      <tbody class="descrizione">
        <tr *ngFor="let s of c.dettagli" style="height:50px;border-top:1px solid #d7d7d7;">
          <td class="padding0">{{s.data}}</td>
          <td>{{s.tipoPagamento}}</td>
          <td>{{s.descrizione}}</td>
          <td class="testoadestra"><strong>{{s.importo | numberFormat}}</strong></td>
        </tr>
      </tbody>
    </table>
  </mat-expansion-panel>
  </mat-accordion>

<!-- <div *ngFor="let c of temps" class="accordion" [attr.id]="'accordion'+replaceAll(c.descrizione,' ' ,'')"
  style="width: 100%">
  <div class="card shadow p-0 mb-2 bg-white rounded" style="padding-left: 0;width: 100%">
    <div class="card-header pull-left " id="heading1" [attr.aria-controls]="replaceAll(c.descrizione,' ' ,'')"
      data-toggle="collapse" style="width: 100%; background-color:tan;"
      [attr.data-target]="'#' + replaceAll(c.descrizione,' ' ,'')">

      <div style="width:100%;height:40px;background:tan;display:flex;justify-content:space-between;align-items:center;">
        <h6 style="margin:0;">{{c.descrizione}}</h6>
        <h6 style="margin:0;">{{c.importo | numberFormat}}</h6>
      </div>
    </div>

    <div id="{{replaceAll(c.descrizione,' ' ,'')}}" class="collapse multi-collapse" aria-labelledby="headingOne"
      [attr.data-parent]="'#accordion' + replaceAll(c.descrizione,' ' ,'')" style="margin: 20px;">
            <table style="width: 100%;">
              <thead>
                <tr style="height:50px;">
                  <th>Data</th>
                  <th>Cassa</th>
                  <th>Descrizione</th>
                  <th class="testoadestra">Importo</th>
                </tr>
              </thead>
              <tbody class="descrizione">
                <tr *ngFor="let s of c.dettagli" style="height:50px;border-top:1px solid #d7d7d7;">
                  <td class="padding0">{{s.data}}</td>
                  <td>{{s.tipoPagamento}}</td>
                  <td>{{s.descrizione}}</td>
                  <td class="testoadestra"><strong>{{s.importo | numberFormat}}</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->

<notifier-container></notifier-container>