.login-navbar{
    background-color:darkslategray;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.53);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.53);
    gap:5px;
}

.login-container {
    max-width: 350px;
    margin:0 auto;
}

.login-card{
    width: 95%;
    margin: 20px auto;
}