// variabili
$background-color:var(--background-color);
$color:var(--color);

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #030303;
  color: #030303;
  box-shadow: 9999px 0 0 -5px #030303;
  animation: dotPulse 1.0s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #030303;
  color: #030303;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #030303;
  animation: dotPulseBefore 1.0s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #030303;
  animation: dotPulseAfter 1.0s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 9984px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #030303;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 9999px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #030303;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #030303;
  }
  30% {
    box-shadow: 10014px 0 0 2px #030303;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #030303;
  }
}

.registrazione-clienti-container {
  max-width: 450px;
  margin: 0 auto;
}

.registrazione-clienti-navbar{
    top: 0;
    z-index: 999;
    background: $background-color;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    color: $color;
  }
  
 .registrazione-clienti-navbar .navbar-left{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
 .registrazione-clienti-navbar .gruppo{
    text-transform: capitalize;
    line-height: 20px;
  }

  .registrazione-clienti-navbar .salone{
    text-transform: capitalize;
    line-height: 16px;
  }

  .registrazione-clienti-navbar .gruppo-salone{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .registrazione-clienti-navbar .btn-back{
    background-color: $color;
    color: $background-color;
  }

  .btn-registra{
    background-color: $background-color;
    color: $color;
    margin:0!important;
  }


 
 .btn-annulla{
    background-color: #dd0000;
    color: $color;
  }

  .card {
    width:90%;
    margin: 20px auto;
    max-width: 350px;
  }
  .card-title{
    color: $background-color;
  }

mat-form-field.mat-form-field{
  width:100%;
}

mat-card-actions.mat-card-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}