<mat-toolbar class="collaboratori-navbar">
  <div class="left">
    <img src="./assets/img1.png" alt="logo" width="40" height="40">
    <h3 style="margin:0;">{{salone?.salone}}</h3>
  </div>
  <div class="right">
    <button mat-icon-button (click)="back()"
      style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <mat-icon>keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
</mat-toolbar>

<app-spinner1center *ngIf="attesa"></app-spinner1center>

<app-intervallo-data (messageEvent)="receiveMessage($event)" style="padding: 0; margin: 0;" [data1]="intervallo.data1"
  [data2]="intervallo.data2"></app-intervallo-data>

<div class="collaboratori-card-container">
  <mat-card>
    <!-- <mat-card-header>
      <div class="coll-btn" style="background-color:tan; width: 100%;text-align: center;">Collaboratori
        {{intervallo.name}}</div>
    </mat-card-header> -->
    <mat-card-content>
          <table style="width:100%;">
          <thead style="height: 50px;">
            <th>Collaboratore</th>
            <th style="text-align: right;">Produzione</th>
            <th style="text-align: right;">Incentivi</th>
          </thead>
          <tbody>
            <tr *ngFor="let c of temps" (click)="apriDettagli(c)" style="height: 50px;border-bottom: 1px solid #d7d7d7;border-top: 1px solid #d7d7d7;">
              <td style="font-weight:500; text-transform: capitalize;">
                {{c.codice+' '+c.nome+ ' '+c.cognome}}
              </td>

              <td class="testoadestra">
                {{c.produzione | currency:'EUR'}}
              </td>
              <td class="testoadestra">
                {{c.incentivi | currency:'EUR'}}
              </td>
            </tr>
            <tr style="height: 50px;border-bottom: 1px solid #d7d7d7;">
              <td>
                <strong style="color: palevioletred;">Totale</strong>
              </td>
              <td style="font-weight: 500;text-align: right;">
                {{totaleProduzione | currency:'EUR'}}
              </td>
              <td style="font-weight: 500;text-align: right;">
                {{totaleIncentivi | currency:'EUR'}}
              </td>
             </tr>
          </tbody>
        </table>
    </mat-card-content>
  </mat-card>

</div>

<notifier-container></notifier-container>
