.collaboratori-navbar{
  background-color: darkslategrey;
  justify-content: space-between;
  .left{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
  }
}

.collaboratori-card-container{
  height: calc(100vh - 56px);
  //background-image: url('./assets/penta.jpg');
  .mat-card-header-text{
    margin:0;
  }
}

.freccia .fa {
  transition: .3s transform ease-in-out;
}
.freccia .collapsed .fa {
  transform: rotate(180deg);
}


.descrizione {
  color: #7b7992;
  font-weight: bolder;
  font-size: 9pt;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
}

.colore
{color:slategrey; }
.colore button {background-color: slategray;}

.testoadestra
{text-align: right; font-size: 10pt;}

.padding0
{ padding-left: 0;padding-right: 0;}

#dettagli i
{ font-size: 16pt; color: red;}
