<mat-toolbar style="background-color: darkslategrey;padding-left: 0;">
  <mat-toolbar-row>
    <h3 class="display-6 font-italic">
      <img src="./assets/img1.png" alt="logo" width="40" height="40">
      <span class="navbar-brand text-white" style="margin-left:20px;padding:0;">{{salone.salone}}</span></h3>

    <span style="flex: 1 1 auto;"></span>

    <button mat-icon-button (click)="back()" style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-image: url('./assets/penta.jpg');">

  <mat-sidenav-content>
    <div style="height: 90vh;">

      <app-spinner1center *ngIf="attesa"></app-spinner1center>

      <div class="card" style="width: 100%;">
        <div class="card-header card-header-warning" style=" width: 100%; padding: 0;">
          <div class="pull-right" style="width: 100%;padding:0;">
            <button class="btn "
              style="background-color:tan; width: 100%; padding-left: 0; padding-right: 0;">Collaboratori {{intervallo.name}}</button>
              <app-intervallo-data (messageEvent)="receiveMessage($event)" style="padding: 0; margin: 0;" [data1]="intervallo.data1" [data2]="intervallo.data2"></app-intervallo-data>
          </div>

        </div>
        <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
          <table id="dettagli" style="width: 100%;" class="table table-hover">
            <thead class="text-warning">
              <th></th>
              <th></th>
              <th style="text-align: right;">Produzione</th>
              <th style="text-align: right;">Incentivi</th>
            </thead>
            <tbody>
              <tr *ngFor="let c of temps" (click)="apriDettagli(c)">
                <td class="padding0">
                </td>
                <td>
                  <strong>{{c.codice+' '+c.nome+ ' '+c.cognome}}</strong>
                </td>

                <td class="testoadestra">
                  {{c.produzione | currency:'EUR'}}
                </td>
                <td class="testoadestra">
                  {{c.incentivi | currency:'EUR'}}
                </td>
              </tr>
              <tr>
                <td class="padding0">
                </td>
                <td>
                  <strong style="color: palevioletred;">Totale</strong>
                </td>

                <td class="testoadestra">

                </td>
                <td class="testoadestra">
                  <strong>{{totaleIncentivi | currency:'EUR'}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<notifier-container></notifier-container>
