
<mat-toolbar style="background-color: darkslategrey;">
  <mat-toolbar-row style="justify-content: space-between;">
    <h3 class="display-6"><img src="./assets/img1.png" alt="logo" width="40" height="40">
      <span class="navbar-brand text-white" style="margin-left:20px;padding:0;">{{salone.salone}}</span></h3>

    <button mat-icon-button (click)="back()"
      style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-image: url('./assets/penta.jpg');">
  <mat-sidenav #sidenav style="background-image: url('./assets/sidebar-1.jpg'); background-color: transparent;">
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">


      <app-spinner1center *ngIf="attesa" style="z-index: 999; position: absolute; left: 0; right: 0; top:0; bottom: 0;">
      </app-spinner1center>


      <div class="card" style="width: 100%;">
        <div class="card-header card-header-warning" style=" width: 100%;">
          <div class="pull-right" style="width: 100%;padding:0;">
            <button class="btn "
              style="background-color:tan; width: 100%; padding-left: 0; padding-right: 0; font-size:small;font-weight: bolder;">
              Clienti stecchiti ultimo anno</button>
          </div>

        </div>
        <div class="card-body table-responsive mat-elevation-z8" style="padding-top: 0;padding-bottom: 0;margin: 5px;" *ngIf="dataSource.length>0">
          <table id="dettagli" style="width: 100%;" class="table table-hover">
            <thead class="text-warning">
              <th>Mese</th>
              <th>Nuovi</th>
              <th>Gen</th>
              <th>Feb</th>
               <th>Mar</th>
              <th>Apr</th>
              <th>Mag</th>
              <th>Giu</th>
              <th>Lug</th>
              <th>Ago</th>
               <th>Set</th>
              <th>Ott</th>
              <th>Nov</th>
              <th>Dic</th>
           </thead>
            <tbody>
              <tr *ngFor="let s of dataSource">
                 <th><strong>{{s.PrimoIngresso}}</strong></th>
                 <td><strong>{{s.ClientiNuovi}}</strong></td>
                 <td (click)="dettagli(s.PrimoIngresso,'gen')" class="testoadestra">{{s.gen}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'feb')" class="testoadestra">{{s.feb}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'marzo')" class="testoadestra">{{s.mar}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'apr')" class="testoadestra">{{s.apr}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'mag')" class="testoadestra">{{s.mag}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'giu')" class="testoadestra">{{s.giu}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'lug')" class="testoadestra">{{s.lug}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'ago')" class="testoadestra">{{s.ago}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'set')" class="testoadestra">{{s.set}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'ott')" class="testoadestra">{{s.ott}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'nov')" class="testoadestra">{{s.nov}}</td>
                 <td (click)="dettagli(s.PrimoIngresso,'dic')" class="testoadestra">{{s.dic}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<notifier-container></notifier-container>
