<div class="recupera-password-container">

  <!-- navbar -->
  <mat-toolbar class="recupera-password-navbar">
    <div class="navbar-left">
      <img src="assets/imgx32.png" width="45" height="45" alt="logo">
      <div class="gruppo-salone">
        <h4 class="gruppo">{{gruppo}}</h4>
        <div class="salone"><small>{{salone}})</small></div>
      </div>
    </div>
    <div class="navbar-right">
      <button class="btn-back" mat-icon-button (click)="back()">
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- modulo recupero password -->
  <mat-card class="recupera-password-card">
    <mat-card-header>
      <mat-card-title>
        <h4>Recupera password</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!emailInviata">
        <mat-form-field class="email-field" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="f.email.errors?.required">L'email è obbligatoria</mat-error>
        </mat-form-field>
        <mat-form-field class="phone-field" appearance="outline">
          <mat-label>Cellulare</mat-label>
          <input type="number" matInput formControlName="phone" placeholder="Cellulare">
          <mat-error *ngIf="f.phone.errors">Il cellulare è obbligatorio</mat-error>
        </mat-form-field>

        <div *ngIf="emailInviata">
          <div>Email inviata con successo</div>
          <button mat-raised-button color="basic" (click)="vai()">
            <mat-icon matListAvatar>home</mat-icon> Vai alla Home Page
          </button>
        </div>

        <mat-card-actions
          style="margin-left: 0;margin-right: 0;padding: 0;width: 100%; display: flex;justify-content: space-between;">
          <button mat-button (click)="back()" class="btn-annulla">Annulla</button>
          <button mat-button [disabled]="loading" class="btn-recupera">Invia</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

</div>
