// variabili
$background-color:var(--background-color);
$color:var(--color);

.recupera-password-container {
    max-width: 450px;
    margin: 0 auto;
    height: 100%;
    overflow-y: clip;
  }

.recupera-password-navbar{
    top: 0;
    z-index: 999;
    background: $background-color;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    color: $color;
  }
  
 .recupera-password-navbar .navbar-left{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
 .recupera-password-navbar .gruppo{
    text-transform: capitalize;
    line-height: 20px;
  }

  .recupera-password-navbar .salone{
    text-transform: capitalize;
    line-height: 16px;
  }

  .recupera-password-navbar .gruppo-salone{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .recupera-password-navbar .btn-back{
    background-color: $color;
    color: $background-color;
  }

.recupera-password-card mat-form-field {
  width: 100%;
}

.recupera-password-card {
  width: 90%;
  max-width: 450px;
  margin: 20px auto;
}

.recupera-password-card mat-card-header {
  color: $background-color
}

.recupera-password-card mat-card-actions .mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recupera-password-card .btn-recupera {
  background-color: $background-color;
  color: $color;
  margin-right:0;
}

.recupera-password-card .btn-annulla {
  background-color: #dd0000;
  color: $color;
}
