// variabili
$background-color:var(--background-color);
$color:var(--color);

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #030303;
    color: #030303;
    box-shadow: 9999px 0 0 -5px #030303;
    animation: dotPulse 1.0s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #030303;
    color: #030303;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #030303;
    animation: dotPulseBefore 1.0s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #030303;
    animation: dotPulseAfter 1.0s infinite linear;
    animation-delay: .5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #030303;
    }
    30% {
      box-shadow: 9984px 0 0 2px #030303;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #030303;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #030303;
    }
    30% {
      box-shadow: 9999px 0 0 2px #030303;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #030303;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #030303;
    }
    30% {
      box-shadow: 10014px 0 0 2px #030303;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #030303;
    }
  }

.login-clienti-container {
    max-width: 450px;
    margin: 0 auto;
    height: 100%;
    overflow-y: clip;
  }

.login-clienti-navbar{
    background-color:$background-color;
    color:$color;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
    justify-content: space-between;
}
.login-clienti-navbar h4{
    margin:0;
    line-height: normal;
}
.login-clienti-navbar .login-navbar-left{
    display: flex;
    align-items: center;
    line-height: 15px;
    gap: 5px;
}

.login-clienti-navbar .btn-back{
    background-color: $color;
    color: $background-color;
}

.login-clienti-navbar .gruppo{
    text-transform: capitalize;
}

.login-clienti-card{
    width:90%;
    max-width:350px;
    margin:20px auto;
    color: $background-color;
  }

.login-clienti-card .mat-card-content{
    margin-top:20px;
}

.login-messaggio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background: brown;
    color: $color;
    padding: 10px;
}


.password-field, .email-field{
    width:100%;
}

.login-clienti-card .mat-card-actions{
    width: 100%;
    margin: 0;
}

.login-clienti-card .main-actions{
    justify-content: space-between;
    display:flex;
}

.recupera-password{
    width:100%;
}
.recupera-password a{
    color:cornflowerblue;
    text-decoration:underline;
    margin-top:10px;
    font-size:14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login{
    color: $color;
    background-color: $background-color;
    flex: 1;
    margin-right: 0!important;
}
.btn-registrati{
    color: $color;
    background-color: #dd0000;
    flex: 1;
    margin-right: 0!important;
}

.login-clienti-errore{
  margin-top: 0;
  padding: 16px!important;
  display: flex!important;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 6px;
  background: aliceblue;
}
