 <!-- css loader -->
 <div *ngIf="attesa" class="mysaloon-loader" data-title=".dot-pulse">
  <div class="stage" style="height: 20px;display: flex;align-items: center;justify-content: center;">
    <div class="dot-pulse"></div>
  </div>
</div>

<div @fade class="login-clienti-container" *ngIf="!attesa">
    <!-- navbar -->
    <mat-toolbar class="login-clienti-navbar">
      <div class="login-navbar-left">
        <img *ngIf="logoUrl == ''" src="assets/imgx32.png" width="45" height="45" alt="logo">
        <img *ngIf="logoUrl != ''" src="{{logoUrl}}" width="45" height="45" alt="logo">

        <div style="display: flex;flex-direction: column;line-height: 12px;">
          <h4 class="gruppo">{{gruppo}}</h4>
          <div class="salone" style="font-size: 17px;">{{salone}}</div>
        </div>
      </div>
      <button class="btn-back" mat-icon-button (click)="back()">
        <mat-icon>undo</mat-icon>
      </button>
    </mat-toolbar>
  
    <!-- login form -->
    <mat-card class="login-clienti-card">
      <mat-card-title>
        <h4>Login</h4>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content class="mat-card-content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <mat-form-field class="email-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" name="email" matInput formControlName="email" placeholder="Email" autocomplete="email">
            <mat-error *ngIf="f.email.errors">L'email è obbligatoria</mat-error>
          </mat-form-field>
  
          <mat-form-field class="password-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" type="password" name="current-password" matInput formControlName="password" placeholder="Password" autocomplete="current-password">
            <!--<button mat-icon-button matSuffix (keydown.enter)="$event.preventDefault()" (keypress.enter)="$event.stopPropagation()">-->
              <mat-icon matSuffix *ngIf="f.password.value != ''" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <!--</button>-->
            <mat-error *ngIf="f.password.errors">La password è obbligatoria</mat-error>
          </mat-form-field>
  
          <mat-card class="login-clienti-errore" mat-subheader *ngIf="alert && !loading">
            <mat-icon style="transform: scale(2);color: red;">error</mat-icon>
            <span>{{alertText}}</span>
          </mat-card>

          <div *ngIf="loading" class="mysaloon-loader" data-title=".dot-pulse">
            <div class="stage" style="height: 20px;display: flex;align-items: center;justify-content: center;">
              <div class="dot-pulse"></div>
            </div>
          </div>
  
          <mat-card-actions class="mat-card-actions">
            <div class="main-actions">
              <button type="button" mat-button (click)="openRegister()" (keydown.enter)="$event.preventDefault()" (keypress.enter)="$event.stopPropagation()" class="btn-registrati">Registrati</button>
              <button type="submit" mat-button class="btn-login">Login</button>
            </div>
            <div class="recupera-password">
              <small><a (click)="openPasswordDimenticata()">Recupera password</a></small>
            </div>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>