<mat-toolbar class="scatta-foto-navbar">
  <mat-toolbar-row style="justify-content: space-between;">
  <div class="scatta-foto-navbar-left">
    <img src="./assets/img1.png" width="45" height="45" routerLink="/setting/" />
    <h4>mySaloon</h4>
  </div>
  <button mat-mini-fab (click)="goBack()">
    <mat-icon>undo</mat-icon>
  </button>
  </mat-toolbar-row>
  <mat-toolbar-row style="height:40px;">
    {{cliente.nome + ' ' + cliente.cognome}}
  </mat-toolbar-row>
</mat-toolbar>


<div *ngIf="!flagFoto" style="margin-top:20px;width: 100%;display: flex;justify-content: center;flex-direction: column;align-items: center;">
  <webcam [height]="300" [width]="300" [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions" [imageQuality]="1" (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"></webcam>
    <div class="btn-scatta">
      <button mat-button (click)="triggerSnapshot();">Scatta <mat-icon inline="true">photo_camera</mat-icon></button>
    </div>
</div>

<div class="snapshot" *ngIf="flagFoto" style="margin-top:20px;width: 100%;display: flex;justify-content: center;height: 300px;flex-direction: column;
align-items: center;">
  <img width="300" height="300" [src]="webcamImage.imageAsDataUrl" />
  <div style="width: 100%;display: flex;justify-content: space-around;margin-top: 20px;">
    <button mat-button (click)="scartaFoto()"style="background-color: #990000;color:#fff;">Scarta <mat-icon inline="true">close</mat-icon></button>
    <button mat-button (click)="salvaFoto()" style="background-color: darkcyan;color:#fff;">Salva <mat-icon inline="true">save</mat-icon></button>
  </div>
</div>



<!--     <br/>
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
 -->

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
