<div style="opacity: 0.8;position: sticky; top: 0px; z-index: 999;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="pull-left">
      <h3 class="display-6 font-italic"><img src="./assets/img1.png">&nbsp; <span
          class="navbar-brand text-white">{{gruppo}} <span style="font-size: small;">({{salone}})</span></span></h3>
    </div>
  </nav>
</div>

<div class="card" style="position: absolute; top: 50%;left: 50%; width: 80%; height: 350px;transform: translate(-50%, -50%); ">
    <h4 class="card-header">{{testo}}</h4>
    <div class="card-body">
      <div class="form-group" style="text-align: center; margin-top: 60px;">
        <a (click)="vai()" class="btn btn-link">Vai al login</a>
      </div>
    </div>
</div>
