<mat-toolbar style="background-color: #000;display: flex;justify-content: space-between;align-content: center;">
  <h5 style="margin:0;color: white;text-transform: capitalize;">{{titolo}}</h5>
  <div class="right">
    <button type="button" class="btn btn-warning" style=" width: 80; height: 40px" (click)="goBack()">
      <mat-icon style="font-weight: 800;">keyboard_double_arrow_left</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-card style="margin: 10px;">
  <mat-card-content>
    <form novalidate name="frm">

      <label for="firstName">Nome</label>
      <mat-form-field appearance="outline" style="width:100%">
        <input matInput placeholder="" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="cliente.nome" value="" required style="text-transform: capitalize;">
        <mat-error *ngIf="!firstName.value">Campo obbligatorio</mat-error>
      </mat-form-field>

      <label for="lastName">Cognome</label>
      <mat-form-field appearance="outline" style="width:100%">
        <input matInput placeholder="" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)]="cliente.cognome"
          value="" required style="text-transform: capitalize;">
        <mat-error *ngIf="!lastName.value">Campo obbligatorio</mat-error>
      </mat-form-field>
      
      <div style="display:flex;justify-content:space-between;">
        <div style="display:flex;flex-direction:column;width:50%;">
          <label for="dataNascita">Compleanno <span style="color:#c3c3c3;">(opzionale)</span></label>
          <mat-form-field appearance="fill" style="width: 95%;">
            <input matInput placeholder="GG/MM" id="dataNascita" name="dataNascita" #dataNascita="ngModel"
              [(ngModel)]="cliente.compleanno" value="">
            <!-- <mat-error *ngIf="!dataNascita.value">Campo obbligatorio</mat-error> -->
          </mat-form-field>
        </div>
        <div style="display:flex;flex-direction:column;width:50%;">
          <label for="annoNascita">Anno nascita <span style="color:#c3c3c3;">(opzionale)</span></label>
          <mat-form-field appearance="fill" style="width: 95%;">
            <input matInput placeholder="AAAA" id="annpoNascita" name="annoNascita" #annoNascita="ngModel"
              [(ngModel)]="cliente.anno" value="">
            <!-- <mat-error *ngIf="!annoNascita.value">Campo obbligatorio</mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <label for="email">Email <span style="color:#c3c3c3;">(opzionale)</span></label>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-icon matPrefix>email</mat-icon>
        <input matInput placeholder="" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="cliente.email"
          value="">
        <mat-error *ngIf="!email.value">Campo obbligatorio</mat-error>
      </mat-form-field>

      <label for="cell">Cellulare</label>
      <mat-form-field appearance="outline" style="width:100%">
        <mat-icon matPrefix>phone_iphone</mat-icon>
        <input matInput placeholder="" type="number" id="cell" name="cell" #cell="ngModel" [(ngModel)]="cliente.cell"
          value="" required>
        <mat-error *ngIf="!cell.value">Campo obbligatorio</mat-error>
      </mat-form-field>

      <label for="paese">Comune di provenienza <span style="color:#c3c3c3;">(opzionale)</span></label>
      <mat-form-field appearance="outline" style="width:100%">
        <input matInput placeholder="" id="paese" name="paese" #paese="ngModel" [(ngModel)]="cliente.paese" value=""
          style="text-transform: capitalize;">
        <!-- <mat-error *ngIf="!paese.value">Campo obbligatorio</mat-error> -->
      </mat-form-field>

      <mat-radio-group [(ngModel)]="sesso" aria-label="Select an option" name="sessooption" #sessooption="ngModel">
        <mat-radio-button value="uomo" style="margin-right: 20px;">Uomo</mat-radio-button>
        <mat-radio-button value="donna">Donna</mat-radio-button>
      </mat-radio-group>

      <!-- 
      <div class="d-block my-3">
        <div class="form-check form-check-inline custom-radio" style="margin-left: 23px;">
          <input id="credit" name="sesso" type="radio" class="custom-control-input" #sesso1="ngModel"
            [(ngModel)]="sesso" value="Uomo" required>
          <label class="custom-control-label" for="credit">Uomo</label>
        </div>
        <div class="form-check form-check-inline custom-radio" style="margin-left: 23px;">
          <input id="debit" name="sesso" type="radio" class="custom-control-input" #sesso1="ngModel" [(ngModel)]="sesso"
            value="Donna" required>
          <label class="custom-control-label" for="debit">Donna</label>
        </div>
      </div> -->
      <mat-card-actions style="display: flex;justify-content: flex-end;">
        <button mat-raised-button name="btn" (click)="salvaCliente()" color="primary" 
        [disabled]="!(firstName.value && lastName.value && cell.value)" >Salva cliente</button>
      </mat-card-actions>

    </form>

  </mat-card-content>
</mat-card>
