<div style="width:100%;display:flex;justify-content:space-between;align-items: center;">
  <div>
    <h4 style="margin:0;text-transform: capitalize;">{{t.nominativo}}</h4>
    <span>{{t.ingresso.replace('_',' ')}}</span>
  </div>
  <button mat-mini-fab mat-dialog-close color="warn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<table style="width: 100%;">
  <thead>
    <tr style="height:50px;">
      <th>Descrizione</th>
      <th style="text-align: right;">Qta</th>
      <th style="text-align: right;">Prezzo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of t.servizi" style="height:50px;margin-top:1px solid #d7d7d7;">
      <td>{{c.descrizione}}</td>
      <td style="text-align: right;">{{c.qta}}</td>
      <td style="text-align: right;">{{c.prezzo | numberFormat}}</td>
    </tr>
    <tr *ngFor="let c of t.prodotti" style="height:50px;margin-top:1px solid #d7d7d7;">
      <td>{{c.descrizione}}</td>
      <td style="text-align: right;">{{c.qta}}</td>
      <td style="text-align: right;">{{c.prezzo}}</td>
    </tr>
  </tbody>
</table>