<mat-toolbar style="background-color: darkslategrey;">
  <mat-toolbar-row>
    <h3 class="display-6"><img src="./assets/img1.png" alt="logo" width="40" height="40">
      <span class="navbar-brand text-white" style="margin-left:20px;padding:0;">{{salone.salone}}</span></h3>

    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button (click)="back()" style="background-color:tan; font-size: 16px; font-size:small;font-weight: bolder;">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="background-image: url('./assets/penta.jpg');">
  <mat-sidenav-content>
    <div style="height: 100%;">

      <app-spinner1center *ngIf="attesa" style="z-index: 999; position: absolute; left: 0; right: 0; top:0; bottom: 0;">
      </app-spinner1center>



      <div class="card" style="width: 100%;">
        <ngb-tabset [destroyOnHide]="false">

          <ngb-tab style="font-weight: bolder;" title="Fuori frequenza ({{totaleNonContattati}})">
            <ng-template ngbTabContent>

              <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
                <table id="dettagli" style="width: 100%; font-size:small;font-weight: bolder;"
                  class="table table-hover">
                  <thead class="text-warning">
                    <th>Cliente</th>
                    <th style="text-align: right;">Ultima visita</th>
                    <th>Ritardo</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of pageOfItemsR" (click)="mostraAnagrafica($event, c.id)">
                      <td>
                        <strong>{{c.nome + ' ' + c.cognome}}</strong>
                      </td>

                      <td class="testoadestra">
                        {{c.dataUltimaFiche}}
                      </td>
                      <td class="testoadestra">
                        {{c.fuoriFrequenza}} gg / {{c.giorniFrequenza}}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <jw-pagination [maxPages]="2" [pageSize]="8" [items]="nonContattati" (changePage)="onChangePageR($event)">
                </jw-pagination>
              </div>

            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle style="font-weight: bolder;">Contattati ({{totaleContattati}})</ng-template>
            <ng-template ngbTabContent>
              <div class="card-body table-responsive" style="padding-top: 0;padding-bottom: 0;">
                <table id="dettagli" style="width: 100%;" class="table table-hover">
                  <thead class="text-warning">
                    <th>Cliente</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let c of pageOfItemsNC" (click)="mostraAnagrafica($event, c.id)">
                      <td>
                        <strong>{{c.nome + ' ' + c.cognome}}</strong>
                      </td>
                    </tr>
                    <tr style="padding:0;">
                      <td style="padding:0;" colspan="2">
                        <jw-pagination [maxPages]="4" [pageSize]="8" [items]="contattati"
                          (changePage)="onChangePageNC($event)"></jw-pagination>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </ng-template>
          </ngb-tab>

        </ngb-tabset>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<notifier-container></notifier-container>
